html {
    background-color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.table__content-empty-text {
    color: #00291B;
    text-align: center;

    h3 {
        margin: 0;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }

    p {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.link {
    text-decoration: none;
    color: #17AD49
}